<html>

<style>
  body{
    background-image: url("back.jfif");
  }
    table {
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    td{
      color:yellow;
      background-color: darkblue;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>

<body>
  <a href="transactions"><h2 style="background-color: gray; opacity: 0.8; margin-right: auto; width: 300px; ">Back to transaction page</h1></a>

    
    
    <table style="background-color: #f2f2f2; margin: auto;"><tr><td><h1 style="text-align: center;">No transactions yet!</h1></td></tr>
      <tr><td><h2 style="text-align: center;">Any payments you make will be shown here.</h2></td></tr></table>
     
        
      </body>
</html>