<html>

<style>
  body{
    background-image: url("back.jfif");
  }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    td{
      color:yellow;
      background-color: darkblue;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>

<body>
  <a href="transactions"><h2 style="background-color: gray; opacity: 0.8; margin-right: auto; width: 300px; ">Back to transaction page</h1></a>

    <table style="width: 1000px; margin-left: auto; margin-right: auto;">
      <tr><th colspan="5"><h1>Deposit account details</h1></th></tr>
        <tr>
          <th>transaction reference</th>
          <th>amount</th>
          <th>date</th>
          <th>reciever</th>
          <th>card</th>
        </tr>
        <tr>
          <td>6752746184</td>
          <td>20000 egp</td>
          <td>20-1-2023</td>
          <td>apple</td>
          <td>787876</td>
        </tr>
        <tr>
          <td>37281958274</td>
          <td>15000 egp</td>
          <td>25-2-2023</td>
          <td>samsung</td>
          <td>787876</td>
        </tr>
        <tr>
          <td>92147981357</td>
          <td>1000 egp</td>
          <td>20-5-2023</td>
          <td>carrefour</td>
          <td>384928</td>
        </tr>
        <tr>
          <td>732598483452</td>
          <td>160 egp</td>
          <td>16-2-2022</td>
          <td>b-tech</td>
          <td>384928</td>
        </tr>
        <!-- add more rows as needed -->
      </table>
     
        
      </body>
</html>