<!DOCTYPE html>
<html>
<head>
<style>
body{
    background-color: #212121;
    background-image: url("back.jfif");
}
.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 32px;
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
  height: 100%;
}

.card:hover {
  box-shadow: none;
}

.card:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}













</style>
</head>
<body>

  <a href="admin"><h2 style="background-color: gray; opacity: 0.8; margin-right: auto; width: 200px; ">Back to homepage</h1></a>

    <div class="card" style="margin-left: auto; margin-right: auto;">
        <div class="content">
          <p class="heading">Date of issuing: 20/03/2023
          </p><p class="para">
            I have problem signing in from my apple iphone however my android phone signs in flawlessley
          </p>
          <button  onclick="redirectToYou()" class="btn">reply</button>
        </div>
      </div>
      
    <div  class="card" style="margin-left: auto; margin-right: auto;">
        <div class="content">
          <p class="heading">Date of issuing: 18/03/2023
          </p><p class="para">
          I have a problem logging acccount from my account which is important as I use the office's laptop alot
          </p>
          <button   onclick="redirectToYou()" class="btn">reply</button>
        </div>
      </div>
      <script>
       

        function redirectToYou() {
          window.location.href = 'reply';
          
        
        }

      </script>
</body>
</html>
