<html>

<style>
  body{
    background-image: url("back.jfif");
  }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    td{
      color:yellow;
      background-color: darkblue;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>

<body>
  <a href="banker"><h2 style="background-color: gray; opacity: 0.8; margin-right: auto; width: 300px; ">Back to homepage</h1></a>

    <table style="width: 1000px; margin-left: auto; margin-right: auto;">
      <tr><th colspan="7"><h1>Loan request details</h1></th></tr>
        <tr>
          <th>Username</th>
          <th>E-mail</th>
          <th>Phone no.</th>
          <th>National ID</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Accept</th>
        
        </tr>
        <tr>
          <td>Bank-lover</td>
          <td>banklover@gmail.com</td>
          <td>0108325787238</td>
          <td>67258234238694358</td>
          <td>Car</td>
          <td>5000000000000000000 egp</td>
          <td><input type="checkbox" style="display: block; margin: auto;"></td>
        </tr>
        <tr>>
          <td>Bank-lover-too</td>
          <td>dragonsorsth@yahoo.com</td>
          <td>010635487645</td>
          <td>47836785391285768</td>
          <td>personal</td>
          <td>1200 egp</td>
          <td><input type="checkbox" style="display: block; margin: auto;"></td>
        </tr>
        <tr>
          <td>Bank-disliker</td>
          <td>hmm@gmail.com</td>
          <td>0116358474364</td>
          <td>52378416254737465</td>
          <td>Car</td>
          <td>60000 egp</td>
          <td><input type="checkbox" style="display: block; margin: auto;"></td>

        <tr><th colspan="7"><button onclick="submit()" style="display: block; margin: auto; font-size: 15px; background-color: black; color: white;">Submit</button></th></tr>
        <!-- add more rows as needed -->
      </table>
     
        
      </body>
      <script>
function submit(){
  window.location.href="loanreqdone";
}


      </script>
</html>