<html>

<style>
  body{
    background-image: url("back.jfif");
  }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    td{
      color:yellow;
      background-color: darkblue;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>

<body>
  <a href="userhomepage"><h2 style="background-color: gray; opacity: 0.8; margin-right: auto; width: 200px; ">Back to homepage</h1></a>

    <table style="width: 1000px; margin-left: auto; margin-right: auto;">
      <tr><th colspan="4"><h1>Upcoming payments</h1></th></tr>
        <tr>
          <th>amount</th>
          <th>date</th>
          <th>type</th>
          <th>recepient</th>
        </tr>
        <tr>
          <td>20000 egp</td>
          <td>06/06/2023</td>
          <td>gas bill</td>
          <td>North Cairo Gas Co</td>
        </tr>
        <tr>
          <td>15000 egp</td>
          <td>25/08/2023</td>
          <td>water bill</td>
          <td>North Cairo Water Facilities</td>
        </tr>
        <tr>
          <td>300000 egp</td>
          <td>20/03/2025</td>
          <td>car loan</td>
          <td>Prime Bank</td>
        </tr>
        <!-- add more rows as needed -->
      </table>
     
        
      </body>
</html>