<html>

<style>
  body{
    background-image: url("back.jfif");
  }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    td{
      color:yellow;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>

<body>

    <table>
        <tr>
          <th>id</th>
          <th>amount</th>
          <th>due date</th>
          <th>type</th>
        </tr>
        <tr>
          <td>1</td>
          <td>20000 egp</td>
          <td>20-1-2023</td>
          <td>gas bill</td>
        </tr>
        <tr>
          <td>2</td>
          <td>15000 egp</td>
          <td>25-2-2023</td>
          <td>water bill</td>
        </tr>
        <!-- add more rows as needed -->
      </table>
     
        
      </body>
</html>